.contenedor {
  display: flex;    
  flex-wrap:  wrap;
  justify-content: space-between;
}

.card {
  margin: 5 px;
  border: 2px solid gray;
  max-width: 300px;
  padding: 15px;
  border-radius: 20px;
}
